<div class="container">
	<div class="logo"><%= image_tag("logo-horizontal-1024.png", :class => "img-responsive") %></div>
	<form class="form-inline" role="form">
	  <div class="form-group">
	    <label class="sr-only">Chime in</label>
	    <input class="form-control" placeholder="Chime in">
	  </div>
    <div class="form-group">
	  <button class="btn btn-default">Chime in</button>
	</div>
	</form>
</div>
<%= render partial: "display_messages", locals: {tweets: @tweets} %>